<div class="container">
    <div class="login-container">
        <div class="header">
            <div class="title">
                <img src="../../assets/images/cle.png" alt="cle">
                <h1>Se connecter</h1>
            </div>
            <p>Cette page est résérvé aux employés de ProfilSearch</p>
        </div>
        <div class="inputs">
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
            </div>
        </div>
        <div class="button">
            <span routerLink="/admin">Se connecter</span>
        </div>
    </div>
</div>
