<section>
    <div class="section">
        <div class="left-container">
            <div class="content">
                <div class="offre-title">
                    <span>Le poste</span>
                    <h3>Développeur Web (NodeJS)</h3>
                </div>
                <div class="offre-infos">
                    <span class="offre-type">CDI</span>
                    <span class="offre-place">Lyon, 69000</span>
                    <span class="offre-published">Publiée le 12/12/23</span>
                </div>
            </div>
            <div class="button">
                <span (click)="scrollToElement('postuler')">Postuler</span>
            </div>
        </div>
        <div class="main-container">
            <div class="content">
                <h1>Description du poste</h1>
                <div class="offre-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper nec ipsum ac efficitur. Curabitur vel pellentesque magna. Aliquam sem ante, egestas in molestie eu, pretium non ipsum. Morbi aliquam tristique ultricies. Aliquam sed neque leo. Aliquam rhoncus pretium ex, iaculis mattis magna fermentum ut. Sed id magna sit amet est sollicitudin dictum. Etiam gravida enim augue, vitae consequat dui fringilla a. Etiam sit amet pellentesque enim. Praesent non purus diam. Nulla tristique diam massa, vitae luctus turpis ultricies luctus. Donec molestie eu dolor sit amet malesuada. In hac habitasse platea dictumst. Mauris malesuada ut mi et feugiat. Nunc ac augue elementum, elementum quam vel, accumsan lorem. Morbi consequat erat quis pretium rutrum.
                    Vivamus convallis sit amet sem a auctor. Donec sodales interdum sodales. Nam leo massa, imperdiet at orci sit amet, finibus feugiat erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi id interdum ipsum. Vestibulum ut mattis mi, quis sagittis diam. Maecenas bibendum mollis sagittis.
                    Etiam blandit ipsum ac ex efficitur varius. Pellentesque dignissim magna sit amet molestie ultrices. Duis hendrerit risus ac nulla finibus vehicula. Nulla consectetur neque sed mauris fringilla mattis. Etiam tortor nunc, euismod eu ornare vitae, congue id metus. Aenean pretium ultricies odio vitae posuere. Praesent eu magna id purus fermentum accumsan ut nec nisi. Proin feugiat sit amet nulla ac accumsan. Phasellus quis tempor augue. Donec interdum posuere metus, id aliquet nulla commodo in.
                </div>
                <div class="offre-questions">
                    <h1 id="postuler">Questions</h1>
                    <p>Voici quelques questions pour nous aider à mieux vous connaître avant un futur entretien.</p>
                    <div class="offre-question">
                        <span class="offre-question-title">Décrivez votre profil.</span>
                        <textarea name="answer" class="offre-question-answer" cols="30" rows="10"></textarea>
                    </div>
                    <div class="offre-question">
                        <span class="offre-question-title">Quel est votre niveau d'anglais ?</span>
                        <span class="offre-question-answer">Bilingue</span>
                    </div>
                    <div class="offre-question">
                        <span class="offre-question-title">Quels sont vos langages préférés ?</span>
                        <textarea name="answer" class="offre-question-answer" cols="30" rows="10"></textarea>
                    </div>
                    <div class="offre-question">
                        <span class="offre-question-title">Dans quelle ville résidez-vous ?</span>
                        <input type="text">
                    </div>
                    <div class="offre-question">
                        <span class="offre-question-title">Quelles sont vos activités extra-professionnelles ?</span>
                        <textarea name="answer" class="offre-question-answer" cols="30" rows="10"></textarea>
                    </div>
                    <div class="postuler-offre">
                        <div class="button">
                            <span>Postuler</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
