.section {
    align-items: center;
    background-color: white;
    text-align: center;
    // margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
        // height: 100px;
        padding:10px;
        color: black;
        border-bottom: 1px solid var(--color-lg-red);
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: 700;
        h1{
            font-size: var(--font-size-xxl);
        }
        p{
            font-size: var(--font-size-xl);
        }

        .searchbar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 100px;
            padding:10px;
            color: black;
            margin-bottom: 0;
            padding-bottom: 0;
            .searchbar-input{
                width: 50%;
                height: 40%;
                border: 1px solid var(--color-lg-red);
                border-radius: 10px;
                padding: 10px;
                font-size: 1rem;
                outline: none;
                
            }
        }
    }
    .offre-list{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}