<section>
    <div class="section">
        <div class="left-container">
            <div class="profile">
                <div class="profile-image">
                    <img src={{imageUrl}} alt="profile image">
                </div>
                <div class="profile-name">
                    <h3>{{name}}</h3>
                    <!-- <p>Lead Developper</p> -->
                    <span class="button" routerLink="/createoffre">Ajouter une offre</span>
                </div>
            </div>
        </div>
        <div class="main-container">
            <header>
                <h1>Bonjour {{name}} !</h1>
            </header>
            <div class="content">
                <app-offre-admin *ngFor="let offre of offres$ | async" [offre]="offre"></app-offre-admin>
            </div>
        </div>
    </div>
</section>