<div class="header">
    <div class="title">
      <img  class="logo" src="../../assets/images/sherlock-holmes.png" alt="sherlock-holmes">
      <h3>ProfilSearch</h3>
        <div class="button" *ngIf="this.localService.getData('name')" routerLink="/admin">
          <p>Partie admin</p>
        </div>
    </div>
    <div class="nav">
      <div class="nav-item"> <!-- [ngClass]="{'current' : this.routerLink.url === '/'}" -->
        <span routerLink="/">Accueil</span>
      </div>
      <div class="button" routerLink="/login" *ngIf="!this.localService.getData('name')">
        <span >Se connecter</span>
      </div>

      <div class="button" *ngIf="this.localService.getData('name')">
        <span  (click)="logout()">Se déconnecter</span>
      </div>

        <div class="profile" *ngIf="this.localService.getData('name')">
          <img src={{imageUrl}} alt="photo de profil">
          <p class="profile-name">{{name}}</p>
        </div>
    </div>
  </div>
