<section>
    <div class="section">
        <div class="left-container">
            <div class="content">
                <div class="offre-title">
                    <span>Le poste</span>
                    <h3>{{ offre.name }}</h3>
                </div>
                <div class="offre-infos">
                    <span class="offre-salary">{{ offre.salary }}€</span>
                    <span class="offre-type">{{ offre.type }}</span>
                    <span class="offre-place">{{ offre.place }}</span>
                    <span class="offre-published">Publiée le {{ formatDate() }}</span>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="content">

                <div class="div-image" id="div-image">
                    <!-- <img [ngSrc]="this.offre.imageUrl" > -->
                    <img id="offre-image" alt="offre-image">
                
                </div>

                <h1>Description du poste</h1>
                <div class="offre-description">
                    <p>{{ offre.description }}</p>
                    <!-- afficher la liste de bullets points -->
                    <div class="bullets-points">
                        <ul>
                            <li *ngFor="let bullet of offre.bullets">{{ bullet }}</li>
                        </ul>
                    </div>
                </div>

                
                <div class="offre-questions">
                    <h1 id="postuler">Questions</h1>
                    <div *ngFor="let question of offre.questions; let i= index" class="offre-question">
                        <span class="offre-question-title">{{ question["question"] }}</span>
                    </div>
                </div>
                <h1>Candidatures</h1>
                <app-candidature-card *ngFor="let candidature of candidatures; let i= index"
                    [candidature]="candidature" (click)="openDialog(i)"></app-candidature-card>
            </div>
        </div>
    </div>
</section>