<div class="container">
    <div class="login-container">
        <div class="header">
            <div class="title">
                <img src="../../assets/images/cle.png" alt="cle">
                <h1>S'inscrire</h1>
            </div>
            <p>Vous devez avoir été préalablement invité par un administrateur de ProfilSearch</p>
        </div>

        <div class="GoogleButton">
            <a (click)="connect()" class="link">

                <img class="google" src="../../../assets/images/google-logo.png" alt="google">
                <p>S'inscrire avec Google</p>
            </a>
        </div>
    </div>
</div>