<div class="container">
    <div class="invite-container">
        <div class="header">
            <div class="title">
                <img src="../../assets/images/cle.png" alt="cle">
                <h1>Inviter un administrateur</h1>
            </div>
        </div>

        <div class="div-email">
            <input class="input-email" type="text" placeholder="Email" [(ngModel)]="invitation.email">
            <button class="button" (click)="invite()">Inviter</button>
        </div>

        <div id="confirmation">
            
        </div>

    </div>
</div>