<section>
    <div class="section">
        <div class="offre-header">
            <header>
                <h1>Informations de l'offre</h1>
                <div class="offre-question">
                    <span class="offre-question-title">Le poste</span>
                    <input type="text" [(ngModel)]="offre.name">
                </div>
                <div class="offre-question">
                    <span class="offre-question-title">Type de contrat</span>
                    <input type="text" [(ngModel)]="offre.type">
                </div>
                <div class="offre-question">
                    <span class="offre-question-title">Lieu</span>
                    <input type="text" [(ngModel)]="offre.place">
                </div>
            </header>
        </div>
        <div class="offre-section">
            <div class="offre-descritpion">
                <span class="offre-question-title">Description de l'offre</span>
                <textarea name="answer" class="offre-question-answer" cols="30" rows="10" [(ngModel)]="offre.description"></textarea>
            </div>
            <div class="offre-questions">
                <div class="offre-question" *ngFor="let question of getQuestionsArray(nbQuestion); let i = index;">
                    <span class="offre-question-title">Question {{ i+1 }}</span>
                <select class="select" (change)="modifierQuestion(i)">
                    <option *ngFor="let question of listquestions" [value]="question.question">{{ question.question }}</option>
                    </select>
                </div>
                <div class="offre-question">
                    <div class="button" (click)="ajouterQuestion()">
                        <span>Ajouter une question</span>
                    </div>
                </div>        
            </div>
            <div class="create-question">
                <input type="text" [(ngModel)]="newQuestion.question">
                <div class="button" (click)="createQuestion()">
                    <span>Créer une question</span>
                </div>
            </div>
        </div>
        <div class="creer-offre">
            <div class="button" (click)="creerOffre()">
                <span>Creer</span>
            </div>
        </div>
    </div>
</section>
