section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h1 {
        font-size: var(--font-size-xxl);
        border-bottom: 1px solid var(--color-lg-red);
    }

    .create-question {

        input {
            width: 100%;
            height: 30px;
            border: 1px solid var(--color-grey);
            padding: 0.5rem;
            font-size: 1rem;
        }

        .button {
            width: fit-content;
            // margin-top: 0.5rem;
        }

    }

    .offre-question, .offre-descritpion, .offre-bullet-container, .offre-questions, .offre-options{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            margin-bottom: 1rem;
            margin-top: 1rem;

        }

        .offre-question-title {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .bulletarea {
            height:4rem;
        }

        ul {
        list-style-position: inside;
        padding-left: 0;
        margin-top: 0.5rem;
    }

        li {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }


        li:before {
            content: "•";
            margin-right: 0.5rem;
        }
        
        textarea {
            width: 100%;
            height: 100px;
            max-height: 200px;
            border: 1px solid var(--color-grey);
            padding: 0.5rem;
            font-size: 1rem;
            resize: none;
        }
        textarea:focus {
            outline: none;
        }
        input{
            width: 100%;
            height: 30px;
            border: 1px solid var(--color-grey);
            padding: 0.5rem;
            font-size: 1rem;
        }
        input:focus {
            outline: none;
        }

        input[type="file"] {
            height:50px;
            margin-top:1rem;
        }

        .toggle {
            margin-bottom:1rem;
        }

        .select {
            width: 100%;
            border: 1px solid var(--color-grey);
            padding: 0.5rem;
            font-size: 1rem;
            background-color: var(--color-white);
            cursor: pointer;
            option {
                background-color: var(--color-white);
            }
        }
    }
    .section {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.3rem;
        margin-bottom: 3rem;
        .creer-offre{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
        }
    }
    @media screen and (max-width: 800px) {
        .section{
            width: 90%;
        }
    }

    .rounded {
        border-radius: 20%;
                .rounded {
            border-radius: 5px;
        }
    }
    .button {
        background-color: var(--color-lg-red);
        color: var(--color-white);
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        

        &:hover {
            background-color: var(--color-lg-red);
            color: var;
        }
    }
}
