.section {
    align-items: center;
    background-color: white;
    text-align: center;
    // margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
        // height: 100px;
        padding:10px;
        color: black;
        border-bottom: 1px solid var(--color-lg-red);
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: 700;
        h1{
            font-size: var(--font-size-xxl);
        }
        p{
            font-size: var(--font-size-xl);
        }
    }
    .offre-list{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}