/* You can add global styles to this file, and also import other style files */

//variables
:root{
  --color-ul-red: #f53b3b;
  --color-red : #F55050;
  --color-lg-red: #e66c6c;
  --color-white : #fff;
  --color-lg-grey: rgb(246 243 239);
  --color-grey: #ddd;
}

main {
  position: relative;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


